<div class='container px-5 px-sm-0'>
  <div class='row'>
    <div class='col-md-3'>
        <!-- 編集リンクが未実装 -->
        <%= render 'books/new', book: @book_new, user: @user %>
    </div>
    <div class='col-md-8 offset-md-1'>
      <h2>Book  detail</h2>
      <!-- 投稿した書籍一覧表示を作成しましょう。 -->
      <table class='table table-hover table-inverse'>
        <thead>
          <tr>
            <th colspan="2"></th>
            <th></th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th>
              <%= image_tag 'default-image.jpg', :size => '80x80' %><br />
              <%= link_to user_path(@user.id) do %>
                <%= @user.name %>
              <% end %>
            </th>
            <th><%= @book.title %></th>
            <th><%= @book.body %></th>
            <th>
              <% if @book.user == current_user %>
                <%= link_to "Edit", edit_book_path(@book.id) %>
                <%= link_to 'Destroy', book_path(@book.id), method: :delete, "data-confirm" => "本当に削除しますか？"%>
              <% end %>
            </th>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>